<router-outlet></router-outlet>
<nav class="navbar navbar-expand-lg bg-purple">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><img src="../../../assets/images/logo-sysout.png" alt="Sysout logo" width="90px"></a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            NFS-e
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Emitir NFS-e</a></li>
            <li><a class="dropdown-item" href="#">Cancelar NFS-e</a></li>
            <li><a class="dropdown-item" href="#">Copiar NFs-e</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#">Consultas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#">Ajuda</a>
        </li>
      </ul>
      <div>
        
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" href="/#"><img src="../../../assets/images/bell-regular.svg" alt="user-icon" width="18px"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#"><img src="../../../assets/images/user-solid.svg" alt="user-icon" width="24px"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Username
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Editar perfil</a></li>
              <li><a class="dropdown-item" href="#">Configurações</a></li>
              <li><a class="dropdown-item" href="#">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
