<div class="dropdown-container">
  <span class="more material-icons-sharp" data-bs-toggle="dropdown" aria-expanded="false">more_vert</span>
  <ul class="dropdown-menu dropdown-menu-lg" style="position: absolute; z-index: 9999;">
    <li><a class="dropdown-item d-flex align-items-center" href="#"><span
          class="material-icons-sharp">visibility</span>Visualizar</a></li>
    <li><a class="dropdown-item d-flex align-items-center" href="#"><span
          class="material-icons-sharp">download</span>Baixar PDF</a></li>
    <li><a class="dropdown-item d-flex align-items-center" href="#"><span
          class="material-icons-sharp">download</span>Baixar XML</a></li>
    <li><a class="dropdown-item d-flex align-items-center" href="#"><span
          class="material-icons-sharp">email</span>Enviar por E-mail</a></li>
    <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="material-icons-sharp">send</span>Enviar
        por Whatsapp</a></li>
    <li><a class="dropdown-item d-flex align-items-center" href="#"><span
          class="material-icons-sharp">print</span>Imprimir</a></li>
    <li><a class="dropdown-item d-flex align-items-center" href="#"><span
          class="material-icons-sharp">border_color</span>Carta de Correção</a></li>
    <li><a class="dropdown-item d-flex align-items-center" href="#" data-bs-toggle="modal"
        data-bs-target="#cancelModal"><span class="material-icons-sharp">cancel</span>Cancelar NFS-e</a></li>
    <li><a class="dropdown-item d-flex align-items-center" href="#"><span
          class="material-icons-sharp">content_copy</span>Copiar NFS-e</a></li>
  </ul>
</div>

<app-cancel-nfse></app-cancel-nfse>
