<div class="container">
  <div class="top">
    <img src="../../../assets/images/logo-sysout.png" alt="">
  </div>
  <div class="form-card">
    <form id="login-form" action="">
      <input type="text" name="userDocIdentification" placeholder="CPF/CNPJ">
      <input type="password" name="password" placeholder="Senha">
      <button type="submit" (click)="onLogin()">Entrar</button>
      <div class="error">
        <p>CPF/CNPJ ou Senha estão incorretos.</p>
      </div>
    </form>
    <span>Esqueceu a senha?</span>
    <hr>
    <button id="register-btn">Criar nova conta</button>
  </div>
</div>
