<app-navbar></app-navbar>
<!-- Cabeçalho -->
<div class="container">
  <div class="row">
    <div class="col-sm py-4 border-0">
      <h2>Emitir Nota Fiscal Eletrônica</h2>
    </div>
    <div class="col-sm text-end py-4 border-0">
      <button class="btn btn-rounded" data-bs-toggle="modal" data-bs-target="#models-nfse">Copiar Nota</button>
    </div>
  </div>
</div>
<hr class="linha">

<div class="container mt-5">
  <div class="card">
    <form #addForm="ngForm" (ngSubmit)="onIssueEmit(addForm)">
      <input type="hidden" ngModel name="userDocIdentification" [(ngModel)]="user.userDocIdentification">
      <!-- Primeira etapa -->
      <div class="step" id="step1">
        <div class="card-header mt-2 pb-0 border-0">
          <h4 class="fw-bold">Dados do prestador</h4>
        </div>

        <div class="card-body">
          <div class="prestador">
            <div class="row">
              <div class="col-sm">
                <div class="mb-3" *ngIf="user">
                  <label for="exampleInput1" class="form-label mb-0">CNPJ</label>
                  <input type="text" class="form-control disable" ngModel name="providerCnpjOrCpf" id="exampleInput1"
                    [(ngModel)]="user.userDocIdentification" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3" *ngIf="user">
                  <label for="exampleInput2" class="form-label mb-0">Razão Social</label>
                  <input type="text" class="form-control disable" ngModel name="razaoSocial" id="exampleInput2"
                    [(ngModel)]="user.name" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">Cadastro Econômico</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel
                    name="providerEconomicRegistration" id="exampleInput3" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0">Serie</label>
                  <input type="text" class="form-control" ngModel name="series" id="exampleInput1" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0" data-toggle="tooltip" data-placement="right"
                    title="Uma letra, carater organizacional apenas.">Tipo</label>
                  <input type="text" maxlength="1" (ngModelChange)="$event.toUpperCase()" class="form-control" ngModel
                    name="type" id="exampleInput2" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">Data de Emissão</label>
                  <input [readOnly]="true" type="text" class="form-control date disable" ngModel name="dataEmissao"
                    id="exampleInput3" [ngModel]="todayDate" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">Data do Fato Gerado</label>
                  <input [readOnly]="true" type="text" class="form-control date disable" ngModel name="dataFato"
                    id="exampleInput3" [ngModel]="todayDate" />
                </div>
              </div>
            </div>
          </div>

          <h4 class="fw-bold mt-4">Dados do serviço</h4>

          <div class="servico">
            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput5" class="form-label mb-0 required">Enquadramento do Serviço</label>
                  <select id="exampleInput5" class="form-select mb-3" ngModel name="serviceList"
                    aria-label="Default select example" [(ngModel)]="servType">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="702">702 - Execução, por administração, empreitada ou subempreitada, de
                      obras de construção civil, hidráulica ou elétrica e de outras obras
                      semelhantes.</option>
                    <option value="1406">1406 - Instalação e montagem de aparelhos, máquinas e equipamentos,
                      inclusive montagem industrial, prestados ao usuário final,
                      exclusivamente com material por ele fornecido.</option>
                    <option value="1708">1708 - Franquia (franchising).</option>
                  </select>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput5" class="form-label mb-0 required">Local de Prestação</label>
                  <select id="exampleInput5" class="form-select mb-3" ngModel name="localProvisionName"
                    aria-label="Default select example" [(ngModel)]="localCod">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="Blumenau">Blumenau</option>
                    <option value="Timbo">Timbó</option>
                  </select>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0 required">Codigo do Local</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="placeOfProvision"
                    id="exampleInput3" placeholder="Escolha um local de prestação" [ngModel]="localCode()" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">Local de Incidência</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="placeOfIncidence"
                    id="exampleInput3" [ngModel]="'Timbó'" />
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="exampleInput6" class="form-label mb-0 required">Discriminação:</label>
              <textarea class="form-control" ngModel name="description" id="exampleInput6" rows="5"
                placeholder="Descreva detalhes sobre o serviço prestado..."></textarea>
            </div>

          </div>
        </div>
      </div>

      <!-- Segunda etapa -->
      <div class="step" id="step2">
        <div class="card-header mt-2 pb-0 border-0">
          <h4 class="fw-bold">Dados do Tomador</h4>
        </div>

        <div class="tomador">
          <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput5" class="form-label mb-0 required">Tipo do Tomador</label>
                  <select id="exampleInput5" class="form-select mb-3" ngModel name="borrowerType"
                    aria-label="Default select example">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value=1>Pessoa Física</option>
                    <option value=2>Pessoa Jurídica</option>
                    <option value=3>Pessoa Estrangeira</option>
                  </select>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0 required">Tomador</label>
                  <input type="text" class="form-control" ngModel name="borrower" id="exampleInput2"
                    placeholder="Digite o nome ou razão social" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0 required">CPF/CNPJ</label>
                  <input type="text" class="form-control" ngModel name="borrowerCnpjOrCpf" id="exampleInput3"
                    placeholder="Digite o CPF/CNPJ" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">Cadastro Econômico</label>
                  <input type="text" class="form-control" ngModel name="borrowerEconomicRegistration"
                    id="exampleInput3" />
                </div>
              </div>
            </div>

            <h4 class="fw-bold mt-4">Endereço do Tomador</h4>

            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0 required">CEP</label>
                  <input type="text" class="form-control" ngModel name="borrowerCep" id="exampleInput1"
                    placeholder="Digite o cep" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0 required">Cidade</label>
                  <input type="text" class="form-control" ngModel name="borrowerCity" id="exampleInput2"
                    placeholder="Digite a cidade" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">País</label>
                  <input type="text" class="form-control" ngModel name="borrowerCountry" id="exampleInput3"
                    placeholder="Digite o país" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0 required">Bairro</label>
                  <input type="text" class="form-control" ngModel name="borrowerDistrict" id="exampleInput1"
                    placeholder="Digite o bairro" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0 required">Logradouro</label>
                  <input type="text" class="form-control" ngModel name="borrowerStreet" id="exampleInput2"
                    placeholder="Digite o logradouro" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Terceira etapa -->
      <div class="step" id="step3">
        <div class="card-header mt-2 pb-0 border-0">
          <h4 class="fw-bold">Dados Fiscais</h4>
        </div>

        <div class="card-body">
          <div class="dadosFiscais">
            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0">Situação Tributaria</label>
                  <select id="exampleInput5" class="form-select mb-3" ngModel name="taxSituation"
                    aria-label="Default select example">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="00">TI - Tributada Integralmente</option>
                    <option value="20">TRBC - Tributada com Redução da Base de Cálculo</option>
                    <option value="70">TRBCRF - Tributada com Redução da Base de Cálculo e Retenção na Fonte</option>
                    <option value="41">NTICc - Não Tributada - ISS Construção Civil Recolhido Antecipadamente</option>
                  </select>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0">Aliquota</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="timboRate"
                    id="exampleInput2" [ngModel]="aliqValue()" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0 required ">Valor do Serviço</label>
                  <input type="text" class="form-control" ngModel name="amount" id="exampleInput3"
                    placeholder="Digite o valor do serviço" [(ngModel)]="totalValue" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">Desc. Incondicional</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="discountUnconditional"
                    id="exampleInput3" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0">Valor da Dedução</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="dedutionAmount"
                    id="exampleInput1" [ngModel]="0.00" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0">Base de Cálculo</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="calcbase"
                    id="exampleInput2" [ngModel]="totalValue" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">ISSQN</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="ISSQN"
                    id="exampleInput3" [ngModel]="issqnValue()" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">ISSRF</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="ISSRF"
                    id="exampleInput3" [ngModel]="0.00" />
                </div>
              </div>
            </div>
          </div>


          <h4 class="fw-bold mt-4">Tributos Federais</h4>

          <div class="tribFed">
            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0">IR</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="incomeTax"
                    id="exampleInput1" [ngModel]="0.00" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0">PIS</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="pis"
                    id="exampleInput2" [ngModel]="0.00" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">COFINS</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="cofins"
                    id="exampleInput3" [ngModel]="0.00" />
                </div>
              </div>
            </div>
          </div>

          <h4 class="fw-bold mt-4">Valores da Nota Fiscal</h4>

          <div class="valores">
            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0" data-toggle="tooltip" data-placement="right"
                    title="Valor Total dos Itens Informados">Valor Total</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="value"
                    id="exampleInput1" [ngModel]="totalValue" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0" data-toggle="tooltip" data-placement="right"
                    title="Valores Totais dos Descontos Incondicionais Informados nos Itens">Desc. Incondicional</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="unconditionalDiscount"
                    id="exampleInput2" [ngModel]="0.00" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0" data-toggle="tooltip" data-placement="right"
                    title="Valor Total das Deduções informadas nos itens">Dedução</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="deduction"
                    id="exampleInput3" [ngModel]="0.00" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0" data-toggle="tooltip" data-placement="right"
                    title="Valor Total - Dedução">Base de Calculo</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="calculationBase"
                    id="exampleInput1" [ngModel]="totalValue" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0" data-toggle="tooltip" data-placement="right"
                    title="Valor Total de ISSQN dos Itens">Total ISSQN</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="totalIssqn"
                    id="exampleInput2" [ngModel]="issqnValue()" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0" data-toggle="tooltip" data-placement="right"
                    title="Valor Total de ISSRF dos itens">Total ISSRF</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="totalIssrf"
                    id="exampleInput3" [ngModel]="0.00" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0" data-toggle="tooltip" data-placement="right"
                    title="Soma de todos os Tributos Federais">Tributos Federais</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="totalFederalTaxes"
                    id="exampleInput1" [ngModel]="0.00" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0" data-toggle="tooltip" data-placement="right"
                    title="Valor de desconto informado pelo contribuínte">Desc. Condicional</label>
                  <input type="text" class="form-control" ngModel name="conditionalDescount" id="exampleInput2"
                    [(ngModel)]="discount" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0" data-toggle="tooltip" data-placement="right"
                    title="Valor Total - Valor ISSRF - Tributos Federais - Descontos">Valor Líquido</label>
                  <input [readOnly]="true" type="text" class="form-control disable" ngModel name="netValue"
                    id="exampleInput3" [ngModel]="liqValue()" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Card footer -->
      <div class="card-footer text-end px-5 border-0">
        <div class="error" *ngIf="showErrorMessage">Preencha todos os campos obrigatórios.</div>
        <button type="button" class="btn btn-primary btn-rounded" (click)="previous()">Voltar</button>
        <button type="button" *ngIf="step !== 3" class="btn btn-primary btn-rounded" (click)="next()">Avançar</button>
        <button *ngIf="step === 3" type="submit" class="btn btn-primary btn-rounded" id="submitForm">Emitir</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>

<!-- Modal -->
<app-models-nfse></app-models-nfse>
