<!-- Cabeçalho -->
<div class="container">
  <div class="row">
    <div class="col-sm py-4 border-0">
      <h2>Emitir Nota Fiscal Eletrônica</h2>
    </div>
    <div class="col-sm text-end py-4 border-0">
      <button class="btn btn-rounded">Copiar Nota</button>
    </div>
  </div>
</div>
<hr class="linha">

<div class="container mt-5">
  <div class="card">
    <form  [formGroup]="noteData">
      <!-- Primeira etapa -->
      <div *ngIf="step == 1">
        <div class="card-header mt-2 pb-0 border-0">
          <h4 class="fw-bold">Dados do prestador</h4>
        </div>

        <div class="card-body">
          <div formGroupName="prestador">
            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0">CNPJ</label>
                  <input type="text" class="form-control" formControlName="cnpj" id="exampleInput1" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0">Razão Social</label>
                  <input type="text" class="form-control" formControlName="razaoSocial" id="exampleInput2" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">Cadastro Econômico</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="cadastroEco" id="exampleInput3" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0">Serie</label>
                  <input type="text" class="form-control" formControlName="serie" id="exampleInput1" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0">Tipo</label>
                  <input type="text" class="form-control" formControlName="tipo" id="exampleInput2" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">Data de Emissão</label>
                  <input [readOnly]="true" type="text" class="form-control date" formControlName="dataEmissao" id="exampleInput3" [(ngModel)]="todayDate" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">Data do Fato Gerado</label>
                  <input [readOnly]="true" type="text" class="form-control date" formControlName="dataFato" id="exampleInput3" [(ngModel)]="todayDate"/>
                </div>
              </div>
            </div>
          </div>

          <h4 class="fw-bold mt-4">Dados do serviço</h4>

          <div formGroupName="servico">
            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput5" class="form-label mb-0 required">Enquadramento do Serviço</label>
                  <select id="exampleInput5" class="form-select mb-3" formControlName="enquadramento"
                    aria-label="Default select example" [(ngModel)]="servType">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="702">702 - Execução, por administração, empreitada ou subempreitada, de
                      obras de construção civil, hidráulica ou elétrica e de outras obras
                      semelhantes.</option>
                    <option value="1406">1406 - Instalação e montagem de aparelhos, máquinas e equipamentos,
                      inclusive montagem industrial, prestados ao usuário final,
                      exclusivamente com material por ele fornecido.</option>
                    <option value="1708">1708 - Franquia (franchising).</option>
                  </select>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput5" class="form-label mb-0 required">Local de Prestação</label>
                  <select id="exampleInput5" class="form-select mb-3" formControlName="localPrest"
                    aria-label="Default select example" [(ngModel)]="localCod">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="Blumenau">Blumenau</option>
                    <option value="Timbo">Timbó</option>
                  </select>
                 </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0 required">Codigo do Local</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="codLocal" id="exampleInput3" [ngModel]="localCode()" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">Local de Incidência</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="localInc" id="exampleInput3" [ngModel]="'Timbó'"/>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="exampleInput6" class="form-label mb-0 required">Discriminação:</label>
              <textarea class="form-control" formControlName="discrim" id="exampleInput6" rows="5" placeholder="Descreva detalhes sobre o serviço prestado..."></textarea>
            </div>

          </div>
        </div>
      </div>

      <!-- Segunda etapa -->
      <div *ngIf="step == 2">
        <div class="card-header mt-2 pb-0 border-0">
          <h4 class="fw-bold">Dados do Tomador</h4>
        </div>

        <div formGroupName="tomador">
          <div class="card-body">
            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput5" class="form-label mb-0 required">Tipo do Tomador</label>
                  <select id="exampleInput5" class="form-select mb-3" formControlName="tipoTomador"
                    aria-label="Default select example">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="1">Pessoa Física</option>
                    <option value="2">Pessoa Jurídica</option>
                    <option value="3">Pessoa Estrangeira</option>
                  </select>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0 required">Tomador</label>
                  <input type="text" class="form-control" formControlName="tomador" id="exampleInput2" placeholder="Digite o nome ou razão social"/>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0 required">CPF/CNPJ</label>
                  <input type="text" class="form-control" formControlName="cnpjToma" id="exampleInput3" placeholder="Digite o CPF/CNPJ" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">Cadastro Econômico</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="cadastroEcoToma" id="exampleInput3" />
                </div>
              </div>
            </div>

            <h4 class="fw-bold mt-4">Endereço do Tomador</h4>

            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0 required">CEP</label>
                  <input type="text" class="form-control" formControlName="cep" id="exampleInput1" placeholder="Digite o cep" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0 required">Cidade</label>
                  <input type="text" class="form-control" formControlName="cidade" id="exampleInput2" placeholder="Digite a cidade" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">País</label>
                  <input type="text" class="form-control" formControlName="pais" id="exampleInput3" placeholder="Digite o país"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0 required">Bairro</label>
                  <input type="text" class="form-control" formControlName="bairro" id="exampleInput1" placeholder="Digite o bairro"/>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0 required">Logradouro</label>
                  <input type="text" class="form-control" formControlName="logra" id="exampleInput2" placeholder="Digite o logradouro" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Terceira etapa -->
      <div *ngIf="step == 3">
        <div class="card-header mt-2 pb-0 border-0">
          <h4 class="fw-bold">Dados Fiscais</h4>
        </div>
        
        <div class="card-body">
          <div formGroupName="dadosFiscais">
            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0">Situação Tributaria</label>
                    <select id="exampleInput5" class="form-select mb-3" formControlName="sitTribu"
                      aria-label="Default select example" [ngModel]="tribSituation()">
                      <option value="" disabled selected>Selecione uma opção</option>
                      <option value="00">TI - Tributada Integralmente</option>
                      <option value="20">TRBC - Tributada com Redução da Base de Cálculo</option>
                      <option value="70">TRBCRF - Tributada com Redução da Base de Cálculo e Retenção na Fonte</option>
                      <option value="41">NTICc - Não Tributada - ISS Construção Civil Recolhido Antecipadamente</option>
                    </select>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0">Aliquota</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="aliquota" id="exampleInput2" [ngModel]="aliqValue()"/>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0 required ">Valor do Serviço</label>
                  <input type="text" class="form-control" formControlName="valor" id="exampleInput3" placeholder="Digite o valor do serviço" [(ngModel)]="totalValue"/>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">Desc. Incondicional</label>
                  <input type="text" class="form-control" formControlName="descInco" id="exampleInput3" placeholder="Digite o desconto" [ngModel]="'0,00'"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0">Valor da Dedução</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="valorDed" id="exampleInput1" [ngModel]="'0,00'"/>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0">Base de Cálculo</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="baseCalc" id="exampleInput2" [ngModel]="totalValue"/>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">ISSQN</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="issqn" id="exampleInput3" [ngModel]="'0,03'"/>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">ISSRF</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="issrf" id="exampleInput3" [ngModel]="'0,00'"/>
                </div>
              </div>
            </div>
          </div>


          <h4 class="fw-bold mt-4">Tributos Federais</h4>

          <div formGroupName="tribFed">
            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0">IR</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="irFed" id="exampleInput1" [ngModel]="'0,00'" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0">PIS</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="pis" id="exampleInput2" [ngModel]="'0,00'" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0">COFINS</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="cofins" id="exampleInput3" [ngModel]="'0,00'" />
                </div>
              </div>
            </div>
          </div>

          <h4 class="fw-bold mt-4">Valores da Nota Fiscal</h4>

          <div formGroupName="valores">
            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0" data-toggle="tooltip" data-placement="right" title="Valor Total dos Itens Informados">Valor Total</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="valorTotal" id="exampleInput1" [ngModel]="totalValue"/>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0" data-toggle="tooltip" data-placement="right" title="Valores Totais dos Descontos Incondicionais Informados nos Itens">Desc. Incondicional</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="descInc" id="exampleInput2" [ngModel]="'0,00'"/>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0" data-toggle="tooltip" data-placement="right" title="Valor Total das Deduções informadas nos itens">Dedução</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="deducao" id="exampleInput3" [ngModel]="'0,00'"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0" data-toggle="tooltip" data-placement="right" title="Valor Total - Dedução">Base de Calculo</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="baseCalc" id="exampleInput1" [ngModel]="'1,00'"/>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0" data-toggle="tooltip" data-placement="right" title="Valor Total de ISSQN dos Itens">Total ISSQN</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="totalIssqn" id="exampleInput2" [ngModel]="'0,03'"/>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0" data-toggle="tooltip" data-placement="right" title="Valor Total de ISSRF dos itens">Total ISSRF</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="totalIssrf" id="exampleInput3" [ngModel]="'0,00'"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput1" class="form-label mb-0" data-toggle="tooltip" data-placement="right" title="Soma de todos os Tributos Federais">Tributos Federais</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="totalFed" id="exampleInput1" [ngModel]="'0,00'"/>
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label mb-0" data-toggle="tooltip" data-placement="right" title="Valor de desconto informado pelo contribuínte">Desc. Condicional</label>
                  <input type="text" class="form-control" formControlName="descCond" id="exampleInput2"[(ngModel)]="discount" />
                </div>
              </div>
              <div class="col-sm">
                <div class="mb-3">
                  <label for="exampleInput3" class="form-label mb-0" data-toggle="tooltip" data-placement="right" title="Valor Total - Valor ISSRF - Tributos Federais - Descontos">Valor Líquido</label>
                  <input [readOnly]="true" type="text" class="form-control" formControlName="valorLiq" id="exampleInput3" [ngModel]="liqValue()"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Card footer -->
      <div class="card-footer text-end py-4 px-5 border-0">
        <button class="btn btn-rounded" *ngIf="step != 1" (click)="previous()">Voltar</button>
        <button class="btn btn-rounded" *ngIf="step != 3" (click)="next()">Avançar</button>
        <button class="btn btn-primary btn-rounded" id="submitForm" *ngIf="step == 3" (click)="submit()">Emitir</button>
      </div>
      <pre>{{noteData.value | json}}</pre>
    </form>
  </div>
</div>