
<!-- Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Cabeçalho do modal -->
      <div class="modal-header">
        <h4 class="modal-title">Modelos Salvos</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Corpo do modal -->
      <div class="modal-body">
        Conteúdo do modal
      </div>

      <!-- Rodapé do modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>

    </div>
  </div>
</div>
