.modal-header, .modal-content{
  background-color: #F1F2F8;
  border: none;
}

.modal-xxl-custom {
  max-width: 80%;
  width: auto;
}

@media (max-width: 576px) {
  .modal-xxl-custom .modal-dialog {
    max-width: 100%;
  }
}

table th, td {
  font-size: 14px;
  text-align: center;
}

table span {
  font-weight: 500;
}

table .status {
  font-weight: 700;
}

table .emited {
  color: green;
}

table .canceled {
  color: black;
}

table .rejected {
  color: red;
}

table .copy-nfse-model-btn {
  padding: 6px 15px 6px 15px;
  background-color: #31BEED;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}
