<app-navbar></app-navbar>
<div class="container text-center">
    <div class="row">
        <div class="col-sm py-4 border-0">
            <h2>Ajuda e Informações</h2>
        </div>
    </div>
</div>
<hr class="linha">
<div class="container text-center">
    <div class="row">
        <div class="col-sm py-4 border-0">
            <h4>Perguntar Frequentes</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="mb-3">
                <div class="accordion" id="accordionExample1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                O que é a Sysout?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-indent">Somos uma startup que busca entregar as melhores soluções em software, com um time engajado e experiente garantimos que seu projeto se torne realidade! Além disso contamos com uma equipe especializada para dar todo o suporte no uso de nossas aplicações!</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Como emitir uma NFS-e?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-indent">Vá até a página de emissão utilizando o menu de navegação localizado no canto superior esquerdo da página, lá você poderá emitir uma nova nota preenchendo os campos necessários, ou você poderá copiar uma nota salva como modelo para maior praticidade!</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Como alterar minha senha?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-indent">Para isso acesse o formulário para troca de senha utilizando o menu de navegação localizado no canto superior direito, nele você deverá colocar sua senha atual e preencher os campos com a senha desejada!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="mb-3">
                <div class="accordion" id="accordionExample2">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Como enviar uma NFS-e por WhatsApp?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-indent">Na página principal, pesquise uma nota emitida na tabela e acesse as opções da nota no canto direito, nele você verá uma opção para enviar pelo WhatsApp e outra pelo Email. Basta clicar na opção e preencher o número ou email para enviar o PDF da nota.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-indent">Somos uma startup que busca entregar as melhores soluções em software, com um time engajado e experiente garantimos que seu projeto se torne realidade! Além disso contamos com uma equipe especializada para dar todo o suporte no uso de nossas aplicações!</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-indent">Somos uma startup que busca entregar as melhores soluções em software, com um time engajado e experiente garantimos que seu projeto se torne realidade! Além disso contamos com uma equipe especializada para dar todo o suporte no uso de nossas aplicações!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>