<app-navbar [username]="username"></app-navbar>
<!-- Cabeçalho -->
<div class="container">
  <div class="row mt-4">
    <div class="col-sm py-4 border-0">
      <h2>Bem vindo, {{user.name}}.</h2>
    </div>
    <div class="col-sm text-end py-4 border-0">
      <button id="emit-btn" class="btn btn-rounded">Emitir NFS-e</button>
    </div>
  </div>
</div>
<hr class="linha">
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="d-flex align-items-center my-3">
        <h4 class="fw-bold me-3">Informações gerais</h4>
        <select class="form-select form-select-sm" aria-label="Default select example" style="width: 170px;">
          <option selected>Últimos 30 dias</option>
          <option value="1">Últimos 60 dias</option>
          <option value="2">Últimos 90 dias</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row mb-5">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">65</h2>
          <p class="card-text">Nº de NFS-es emitidas</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">02</h2>
          <p class="card-text">Nº de NFS-es canceladas</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">58</h2>
          <p class="card-text">Nº de clientes</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">R$10.030,96</h2>
          <p class="card-text">Receita serviços prestados</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="linha2">
</div>

<!-- Consultar NFSE -->
<div class="container mb-3">
  <div class="row mt-5 mb-3">
    <div class="col">
      <h4 class="fw-bold me-3">Consultar NFS-e</h4>
    </div>
  </div>
  <app-filter></app-filter>
</div>

<!-- Dashboard -->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card-header mb-3 pb-0 border-0">
        <h4 class="fw-bold" id="issued">NFS-e emitidas</h4>
      </div>
      <div class="table-responsive">
        <table class="table py-2 p-5">
          <thead>
            <tr>
              <th scope="col">Nº</th>
              <th scope="col">Data Emissão</th>
              <th scope="col">Competência</th>
              <th scope="col">Data Fator Gerador</th>
              <th scope="col">Serviço</th>
              <th scope="col">Código</th>
              <th scope="col">Cliente</th>
              <th scope="col">CPF/CNPJ</th>
              <th scope="col">Valor total</th>
              <th scope="col">Valor líquido</th>
              <th scope="col">Situação</th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1</td>
              <td>14/03/2023</td>
              <td>14/03/2023</td>
              <td>14/03/2023</td>
              <td>Programação</td>
              <td>894030</td>
              <td>Sênior</td>
              <td>899.445.342-21</td>
              <td>R$120,00</td>
              <td>R$100,00</td>
              <td class="status emited">Emitida</td>
              <td><app-actions-dropdown></app-actions-dropdown></td>
            </tr>
            <tr>
              <td scope="row">1</td>
              <td>14/03/2023</td>
              <td>14/03/2023</td>
              <td>14/03/2023</td>
              <td>Programação</td>
              <td>894030</td>
              <td>Sênior</td>
              <td>899.445.342-21</td>
              <td>R$120,00</td>
              <td>R$100,00</td>
              <td class="status emited">Emitida</td>
              <td><app-actions-dropdown></app-actions-dropdown></td>
            </tr>
            <tr>
              <td scope="row">1</td>
              <td>14/03/2023</td>
              <td>14/03/2023</td>
              <td>14/03/2023</td>
              <td>Programação</td>
              <td>894030</td>
              <td>Sênior</td>
              <td>899.445.342-21</td>
              <td>R$120,00</td>
              <td>R$100,00</td>
              <td class="status emited">Emitida</td>
              <td><app-actions-dropdown></app-actions-dropdown></td>
            </tr>
            <tr>
              <td scope="row">1</td>
              <td>14/03/2023</td>
              <td>14/03/2023</td>
              <td>14/03/2023</td>
              <td>Programação</td>
              <td>894030</td>
              <td>Sênior</td>
              <td>899.445.342-21</td>
              <td>R$120,00</td>
              <td>R$100,00</td>
              <td class="status emited">Emitida</td>
              <td><app-actions-dropdown></app-actions-dropdown></td>
            </tr>
            <tr>
              <td scope="row">1</td>
              <td>14/03/2023</td>
              <td>14/03/2023</td>
              <td>14/03/2023</td>
              <td>Programação</td>
              <td>894030</td>
              <td>Sênior</td>
              <td>899.445.342-21</td>
              <td>R$120,00</td>
              <td>R$100,00</td>
              <td class="status emited">Emitida</td>
              <td><app-actions-dropdown></app-actions-dropdown></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
