<div class="container" id="main-container">
  <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="background-color: #F1F2F8;">
        <div class="modal-header">
          <h2 class="modal-title">Cancelar NFS-e</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="container">
          <div class="row row-cols-3 ps-1 mt-3">
            <div class="col data-text"><b>N.º:</b> </div>
            <div class="col data-text"><b>Data de emissão:</b></div>
            <div class="col data-text"><b>Serviço</b> Programação</div>
          </div>
          <div class="row row-cols-3 ps-1 mt-1">
            <div class="col data-text"><b>CNPJ:</b></div>
            <div class="col data-text"><b>Cliente:</b> </div>
            <div class="col data-text"><b>Valor Líquido:</b> R$</div>
          </div>
        </div>
        <hr>
        <div class="modal-body">
          <form [formGroup]="cancelForm" #formDir="ngForm">
            <div class="form-group">
              <label for="cancelText" class="form-label mb-1">Informe o motivo do cancelamento<span style="color: red;">*</span></label>
              <textarea formControlName="description" class="form-control" [ngClass]="{'border-red': isDescriptionEmpty }" rows="5" maxlength="250" placeholder="Motivo do cancelamento..." required></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-blue" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-red" data-bs-dismiss="modal" [disabled]="formDir.invalid">Cancelar NFS-e</button>
        </div>
      </div>
    </div>
  </div>
</div>

