@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

:root {
  --color-dark-purple: #311A4C;
  --color-light-purple: #48266E;
  --color-light-blue: #31BEED;
  --color-light-green: #55D449;
  --color-background: #fff
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.bg-purple {
  --color-background: var(--color-light-purple);
}

body {
  background-color: var(--color-background);
}
