<p>modelos-notas works!</p>
<div *ngIf="" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modelos de Notas Fiscais</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div formGroupName="servico">
          <div class="row">
            <div class="col-sm">
              <div class="mb-3">
                <label for="exampleInput5" class="form-label mb-0 required">Selecione um modelo de NFS-e</label>
                <select>
                <option value="01">opção 1</option>
                  <option value="02">opção 2</option>
                  <option value="03">opção 3</option>
                </select>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Utilizar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
