<div class="filter">
  <div class="row">
    <div class="col-sm">
      <div class="mb-3">
        <label for="exampleInput1" class="form-label mb-0 required">De</label>
        <input type="date" class="form-control" id="firstDate" required>
      </div>
    </div>
    <div class="col-sm">
      <div class="mb-3">
        <label for="exampleInput2" class="form-label mb-0 required">Até</label>
        <input type="date" class="form-control" id="lastDate">
      </div>
    </div>
    <div class="col-sm">
      <div class="mb-3">
        <label for="exampleInput3" class="form-label mb-0 required">Serviço</label>
        <select class="form-select" aria-label="Default select example" id="selectService">
          <option selected>Selecione uma opção</option>
          <option value="1">
            Execução, por administração, empreitada ou subempreitada, de
            obras de construção civil, hidráulica ou elétrica e de outras obras semelhantes.
          </option>
          <option value="2">
            Instalação e montagem de aparelhos, máquinas e equipamentos,
            inclusive montagem industrial, prestados ao usuário final,
            exclusivamente com material por ele fornecido.
          </option>
          <option value="3">
            Franquia (franchising)
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="mb-3">
        <label for="exampleInput1" class="form-label mb-0 required">Cliente</label>
        <input type="text" class="form-control" id="exampleInput1"/>
      </div>
    </div>
    <div class="col-sm">
      <div class="mb-3">
        <label for="exampleInput2" class="form-label mb-0 required">Valor até</label>
        <select class="form-select" aria-label="Default select example" id="selectValue">
          <option selected>Selecione uma opção</option>
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
        </select>
      </div>
    </div>
    <div class="col-sm">
      <div class="mb-3">
        <label for="exampleInput3" class="form-label mb-0 required">Situação</label>
        <select class="form-select" aria-label="Default select example" id="selectSituation">
          <option selected>Selecione uma opção</option>
          <option value="1">Emitida</option>
          <option value="2">Rejeitada</option>
          <option value="3">Cancelada</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="mb-3">
        <div class="col-sm text-end border-2">
          <button class="btn btn-rounded">Pesquisar</button>
        </div>
      </div>
    </div>
  </div>
</div>
